* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background: #8A51FC;
    font-size: 1.6rem;
}

.logo {
    display: block;
    margin: 40px auto;
    width: 260px;
}

main {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 375px;
    height: 725px;
    align-items: center;
    margin: 0 auto;
    padding: 30px 24px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    gap: 12px;
    max-width: 90%;
}

main > label {
    align-self: flex-start;
}

main > label {
    margin-bottom: -8px;
}

select {
    width: 100%;
    border-radius: 4px;
    padding: 10px 0;
    color: #555555;
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 4px;
    border-color: #BBBBBB;
    cursor: pointer;
}

label {
    font-size: 1.6rem;
    color: #777777;
    display: block;
    text-align: left;
}

input {
    width: 100%;
    border-radius: 4px;
    padding: 10px 0px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #555555;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    appearance: none;
    padding-left: 6px;
    border-color: #BBBBBB;
    cursor: pointer;
}

button {
    width: 100%;
    color: #fff;
    background-color: #772FD3;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 15px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #5e24a8;
}

button:active {
    opacity: 0.8;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    border: 1px solid #772FD3;
    border-radius: 20px;
    padding: 10px 0;
    width: 100%;
}

.convertOfIcon {
    width: 44px;
}

.arrow {
    height: 50px;
    width: 35px;
    margin: 15px 0px;
}

.usd-icon {
    width: 44px;
}

.money-name {
    font-size: 1.4rem;
    color: #777777;
}

.value {
    font-size: 2rem;
    font-weight: 700;
    color: #555555;
}